fabric/fabric_ci_cd/src/data-pipelines/pl-covid-data-content.json
{
    "properties": {
      "activities": [
        {
          "type": "SetVariable",
          "typeProperties": {
            "variableName": "pipelineReturnValue",
            "value": [
              {
                "key": "onelake_name",
                "value": {
                  "type": "Expression",
                  "content": "@pipeline().parameters.onelake_name"
                }
              },
              {
                "key": "workspace_name",
                "value": {
                  "type": "Expression",
                  "content": "@pipeline().parameters.workspace_name"
                }
              },
              {
                "key": "lakehouse_name",
                "value": {
                  "type": "Expression",
                  "content": "@pipeline().parameters.lakehouse_name"
                }
              }
            ],
            "setSystemVariable": true
          },
          "policy": {
            "secureInput": false,
            "secureOutput": false
          },
          "name": "set-params",
          "dependsOn": []
        },
        {
          "type": "TridentNotebook",
          "typeProperties": {
            "notebookId": "<<notebook_id>>",
            "workspaceId": "<<workspace_id>>",
            "parameters": {
              "onelake_name": {
                "value": {
                  "value": "@activity('set-params').Output.value.onelake_name",
                  "type": "Expression"
                },
                "type": "string"
              },
              "workspace_name": {
                "value": {
                  "value": "@activity('set-params').Output.value.workspace_name",
                  "type": "Expression"
                },
                "type": "string"
              },
              "lakehouse_name": {
                "value": {
                  "value": "@activity('set-params').Output.value.lakehouse_name",
                  "type": "Expression"
                },
                "type": "string"
              }
            }
          },
          "policy": {
            "timeout": "0.12:00:00",
            "retry": 0,
            "retryIntervalInSeconds": 30,
            "secureInput": false,
            "secureOutput": false
          },
          "name": "nb-covid-data",
          "dependsOn": [
            {
              "activity": "set-params",
              "dependencyConditions": [
                "Succeeded"
              ]
            }
          ]
        }
      ],
      "parameters": {
        "onelake_name": {
          "type": "string",
          "defaultValue": "onelake"
        },
        "workspace_name": {
          "type": "string",
          "defaultValue": "ws-fabric-cicd-dev"
        },
        "lakehouse_name": {
          "type": "string",
          "defaultValue": "lh_main"
        }
      },
      "annotations": []
    }
  }