single_tech_samples/synapseserverless/synapseartifacts/workspace/pipelines/P_NYCTaxi_2_Main.json
{
  "name": "P_NYCTaxi_2_Main",
  "properties": {
    "activities": [
      {
        "name": "Copy parquet from url to adls",
        "type": "Copy",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "ParquetSource",
            "storeSettings": {
              "type": "HttpReadSettings",
              "requestMethod": "GET"
            }
          },
          "sink": {
            "type": "ParquetSink",
            "storeSettings": {
              "type": "AzureBlobFSWriteSettings"
            },
            "formatSettings": {
              "type": "ParquetWriteSettings"
            }
          },
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          }
        },
        "inputs": [
          {
            "referenceName": "Ds_NYCTaxi_HTTP",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "Ds_NYCTaxi_ADLS2",
            "type": "DatasetReference"
          }
        ]
      },
      {
        "name": "Transform parquet to delta",
        "type": "SynapseNotebook",
        "dependsOn": [
          {
            "activity": "Copy parquet from url to adls",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebook": {
            "referenceName": "Nb_Convert_Parquet_to_Delta",
            "type": "NotebookReference"
          },
          "parameters": {
            "dynamicyear": {
              "value": {
                "value": "@formatDateTime(utcNow(),'yyyy')",
                "type": "Expression"
              },
              "type": "string"
            },
            "dynamicmonth": {
              "value": {
                "value": "@formatDateTime(utcNow(),'MM')",
                "type": "Expression"
              },
              "type": "string"
            },
            "dynamicday": {
              "value": {
                "value": "@formatDateTime(utcNow(),'dd')",
                "type": "Expression"
              },
              "type": "string"
            },
            "dynamichour": {
              "value": {
                "value": "@formatDateTime(utcNow(),'hh')",
                "type": "Expression"
              },
              "type": "string"
            },
            "pipelinename": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            },
            "pipelineid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "stgAccountName": {
              "value": "sintechst1dep7",
              "type": "string"
            }
          },
          "sparkPool": {
            "referenceName": "sysparkpooldep7",
            "type": "BigDataPoolReference"
          },
          "conf": {
            "spark.dynamicAllocation.enabled": null,
            "spark.dynamicAllocation.minExecutors": null,
            "spark.dynamicAllocation.maxExecutors": null
          },
          "numExecutors": null
        }
      },
      {
        "name": "GetDeltaDataLakeLocations",
        "type": "GetMetadata",
        "dependsOn": [
          {
            "activity": "Transform parquet to delta",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "dataset": {
            "referenceName": "Ds_NYCTaxi_ADLS2_Delta",
            "type": "DatasetReference"
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "AzureBlobFSReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false
          }
        }
      },
      {
        "name": "ForEachDeltaTableFolder",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "GetDeltaDataLakeLocations",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "items": {
            "value": "@activity('GetDeltaDataLakeLocations').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "name": "CreateServerlessDynamicView",
              "type": "SqlServerStoredProcedure",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "storedProcedureName": "[dbo].[CreateDynamicSQLServerlessView]",
                "storedProcedureParameters": {
                  "viewName": {
                    "value": {
                      "value": "@concat('VW_',formatDateTime(utcNow(),'yyyy'), formatDateTime(utcNow(),'MM'),formatDateTime(utcNow(),'dd'), item().name)",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "deltaTableName": {
                    "value": {
                      "value": "@concat(formatDateTime(utcNow(),'yyyy'),'/', formatDateTime(utcNow(),'MM'),'/',formatDateTime(utcNow(),'dd'),'/',item().Name)",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "externalDataSourceName": {
                    "value": "ext_ds_datalake",
                    "type": "String"
                  },
                  "viewAliasName": {
                    "value": {
                      "value": "@concat('VIEW_',item().Name)",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "format": {
                    "value": "delta",
                    "type": "String"
                  }
                }
              },
              "linkedServiceName": {
                "referenceName": "Ls_NYCTaxi_Synapse_Serverless_db",
                "type": "LinkedServiceReference"
              }
            }
          ]
        }
      }
    ],
    "annotations": [],
    "lastPublishTime": "2022-10-03T09:59:59Z"
  },
  "type": "Microsoft.Synapse/workspaces/pipelines"
}
