e2e_samples/parking_sensors_synapse/synapse/workspace/pipeline/P_Ingest_MelbParkingData.json
{
  "name": "P_Ingest_MelbParkingData",
  "properties": {
    "activities": [
      {
        "name": "Set infilefolder",
        "type": "SetVariable",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "variableName": "infilefolder",
          "value": {
            "value": "@utcnow('yyyy_MM_dd_hh_mm_ss')",
            "type": "Expression"
          }
        }
      },
      {
        "name": "DownloadSensorData",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Set infilefolder",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "RestSource",
            "httpRequestTimeout": "00:01:40",
            "requestInterval": "00.00:00:00.010",
            "requestMethod": "GET"
          },
          "sink": {
            "type": "JsonSink",
            "storeSettings": {
              "type": "AzureBlobFSWriteSettings"
            },
            "formatSettings": {
              "type": "JsonWriteSettings"
            }
          },
          "enableStaging": false
        },
        "inputs": [
          {
            "referenceName": "Ds_REST_MelbParkingData",
            "type": "DatasetReference",
            "parameters": {
              "relativeurl": "dtpv-d4pf.json"
            }
          }
        ],
        "outputs": [
          {
            "referenceName": "Ds_AdlsGen2_MelbParkingData",
            "type": "DatasetReference",
            "parameters": {
              "infilefolder": "@variables('infilefolder')",
              "infilename": "MelbParkingSensorData.json",
              "container": "datalake/data/lnd"
            }
          }
        ]
      },
      {
        "name": "DownloadBayData",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Set infilefolder",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "RestSource",
            "httpRequestTimeout": "00:01:40",
            "requestInterval": "00.00:00:00.010",
            "requestMethod": "GET"
          },
          "sink": {
            "type": "JsonSink",
            "storeSettings": {
              "type": "AzureBlobFSWriteSettings"
            },
            "formatSettings": {
              "type": "JsonWriteSettings"
            }
          },
          "enableStaging": false
        },
        "inputs": [
          {
            "referenceName": "Ds_REST_MelbParkingData",
            "type": "DatasetReference",
            "parameters": {
              "relativeurl": "wuf8-susg.json"
            }
          }
        ],
        "outputs": [
          {
            "referenceName": "Ds_AdlsGen2_MelbParkingData",
            "type": "DatasetReference",
            "parameters": {
              "infilefolder": "@variables('infilefolder')",
              "infilename": "MelbParkingBayData.json",
              "container": "datalake/data/lnd"
            }
          }
        ]
      },
      {
        "name": "StandardizeData",
        "type": "SynapseNotebook",
        "dependsOn": [
          {
            "activity": "DownloadSensorData",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "DownloadBayData",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebook": {
            "referenceName": "02_standardize",
            "type": "NotebookReference"
          },
          "parameters": {
            "infilefolder": {
              "value": {
                "value": "@variables('infilefolder')",
                "type": "Expression"
              },
              "type": "string"
            },
            "loadid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "pipelinename": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            },
            "keyvaultlsname": {
              "value": "Ls_KeyVault_01",
              "type": "string"
            },
            "adls2lsname": {
              "value": "Ls_AdlsGen2_01",
              "type": "string"
            }
          }
        }
      },
      {
        "name": "TransformData",
        "type": "SynapseNotebook",
        "dependsOn": [
          {
            "activity": "StandardizeData",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebook": {
            "referenceName": "03_transform",
            "type": "NotebookReference"
          },
          "parameters": {
            "loadid": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "pipelinename": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            },
            "keyvaultlsname": {
              "value": "Ls_KeyVault_01",
              "type": "string"
            }
          }
        }
      },
      {
        "name": "Load SQL dedicated pool",
        "type": "SqlPoolStoredProcedure",
        "dependsOn": [
          {
            "activity": "TransformData",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "sqlPool": {
          "referenceName": "syndpprodlace21",
          "type": "SqlPoolReference"
        },
        "typeProperties": {
          "storedProcedureName": "dbo.load_dw",
          "storedProcedureParameters": {
            "load_id": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "String"
            }
          }
        }
      }
    ],
    "variables": {
      "infilefolder": {
        "type": "String",
        "defaultValue": "Ind"
      }
    },
    "annotations": [],
    "lastPublishTime": "2021-10-26T23:43:06Z"
  },
  "type": "Microsoft.Synapse/workspaces/pipelines"
}
