single_tech_samples/synapseanalytics/synapseserverless/synapseartifacts/workspace/pipelines/Pl_NYCTaxi_0_Main.json
{
    "name": "Pl_NYCTaxi_0_Main",
    "properties": {
        "activities": [
            {
                "name": "ForEachYear",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Execute Pl_NYCTaxi_1_Setup",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@variables('year')",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Execute Pl_NYCTaxi_2_Preparation",
                            "type": "ExecutePipeline",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "pipeline": {
                                    "referenceName": "Pl_NYCTaxi_2_Preparation",
                                    "type": "PipelineReference"
                                },
                                "waitOnCompletion": true,
                                "parameters": {
                                    "sourcefilename": {
                                        "value": "@concat(item(),'-','10')",
                                        "type": "Expression"
                                    }
                                }
                            }
                        }
                    ]
                }
            },
            {
                "name": "Execute Pl_NYCTaxi_1_Setup",
                "type": "ExecutePipeline",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "Pl_NYCTaxi_1_Setup",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true
                }
            }
        ],
        "variables": {
            "year": {
                "type": "Array",
                "defaultValue": [
                    "2019",
                    "2020",
                    "2021"
                ]
            }
        },
        "annotations": []
    }
}