e2e_samples/parking_sensors/adf/pipeline/DownloadBayData.json
{
	"name": "DownloadBayData",
	"properties": {
		"description": "Hello from NDC Sydney!!!",
		"activities": [
			{
				"name": "Set infilefolder",
				"description": "testing",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "infilefolder",
					"value": {
						"value": "@utcnow('yyyy_MM_dd_hh_mm_ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DownloadBayData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set infilefolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"schemaMapping": {
							"bay_id": "bay_id"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_REST_MelbParkingData",
						"type": "DatasetReference",
						"parameters": {
							"relativeurl": "wuf8-susg.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_AdlsGen2_MelbParkingData",
						"type": "DatasetReference",
						"parameters": {
							"infilefolder": {
								"value": "@variables('infilefolder')",
								"type": "Expression"
							},
							"infilename": "MelbParkingBayData.json",
							"container": "datalake/data/tpatil"
						}
					}
				]
			}
		],
		"variables": {
			"infilefolder": {
				"type": "String",
				"defaultValue": "lnd"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-05-18T10:02:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}