single_tech_samples/synapseanalytics/sample1_loading_dynamic_modules/pipeline.json
{
    "name": "ProcessDataPipeline",
    "properties": {
        "activities": [
            {
                "name": "GetFiles",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "CSV_Dataset",
                        "type": "DatasetReference",
                        "parameters": {
                            "containerName": {
                                "value": "@pipeline().parameters.containerName",
                                "type": "Expression"
                            },
                            "basePath": {
                                "value": "@pipeline().parameters.basePath",
                                "type": "Expression"
                            },
                            "filePath": {
                                "value": "@pipeline().parameters.filePath",
                                "type": "Expression"
                            }
                        }
                    },
                    "fieldList": [
                        "childItems"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "IterateFiles",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "GetFiles",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "items": {
                        "value": "@activity('GetFiles').output.childItems",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "InvokeOrchestratorNotebook",
                            "type": "SynapseNotebook",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "notebook": {
                                    "referenceName": "OrchestratorNotebook",
                                    "type": "NotebookReference"
                                },
                                "parameters": {
                                    "storage_account_name": {
                                        "value": {
                                            "value": "@pipeline().parameters.storageAccountName",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "container_name": {
                                        "value": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "base_path": {
                                        "value": {
                                            "value": "@pipeline().parameters.basePath",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "filename": {
                                        "value": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "module_name": {
                                        "value": {
                                            "value": "@pipeline().parameters.moduleName",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "module_config": {
                                        "value": {
                                            "value": "@string(pipeline().parameters.moduleConfig)",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "target_table": {
                                        "value": {
                                            "value": "@string(pipeline().parameters.targetTable)",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "database": {
                                        "value": {
                                            "value": "@pipeline().parameters.database",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    },
                                    "pipeline_run_id": {
                                        "value": {
                                            "value": "@pipeline().RunId",
                                            "type": "Expression"
                                        },
                                        "type": "string"
                                    }
                                },
                                "snapshot": true,
                                "sparkPool": {
                                    "referenceName": "SparkPool1",
                                    "type": "BigDataPoolReference"
                                }
                            }
                        },
                        {
                            "name": "MoveFile",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "InvokeOrchestratorNotebook",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobFSReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "CSV_Dataset",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        },
                                        "basePath": {
                                            "value": "@pipeline().parameters.basePath",
                                            "type": "Expression"
                                        },
                                        "filePath": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "CSV_Dataset",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        },
                                        "basePath": {
                                            "value": "@pipeline().parameters.archivePath",
                                            "type": "Expression"
                                        },
                                        "filePath": {
                                            "value": "@concat(item().name,'_', formatDateTime(convertTimeZone(pipeline().TriggerTime,'UTC','India Standard Time'),'yyyyMMddTHHmm'))",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "DeleteSourceFile",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "MoveFile",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "CSV_Dataset",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "containerName": {
                                            "value": "@pipeline().parameters.containerName",
                                            "type": "Expression"
                                        },
                                        "basePath": {
                                            "value": "@pipeline().parameters.basePath",
                                            "type": "Expression"
                                        },
                                        "filePath": {
                                            "value": "@item().name",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "storageAccountName": {
                "type": "string",
                "defaultValue": "TEMP-STORAGE-ACCOUNT"
            },
            "containerName": {
                "type": "string",
                "defaultValue": "root"
            },
            "basePath": {
                "type": "string",
                "defaultValue": "source"
            },
            "filePath": {
                "type": "string",
                "defaultValue": "country_*.csv"
            },
            "archivePath": {
                "type": "string",
                "defaultValue": "archive"
            },
            "moduleName": {
                "type": "string",
                "defaultValue": "md5"
            },
            "moduleConfig": {
                "type": "string",
                "defaultValue": "{}"
            },
            "targetTable": {
                "type": "string",
                "defaultValue": {
                    "name": "country_list",
                    "path": "/data"
                }
            },
            "database": {
                "type": "string",
                "defaultValue": "default"
            }
        },
        "annotations": [],
        "lastPublishTime": "2021-11-29T07:00:52Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}